<!DOCTYPE html>
<html>
<head>
  <title>Hue lights</title>
</head>
<body>
  <header>
    <h1>Hue lights</h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>Made on Twitch by <a href="http://twitch.tv/phil_nash">phil_nash</a></p>
  </footer>
</body>
</html>
